* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: var(--font_secondary);
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: auto;
  background-color: var(--app_bg_colog);
  display: grid;
  place-content: center;
  font-family: var(--font_primary);
  line-height: 1;
}

@media (min-width: 600px) {
  #app {
    height: 100vh;
  }
}
